body {
  background-color: #ffb800;
  margin: 0;
  font-family: OpenSans;
  width: 100%;
}
nav {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
nav a {
  display: flex;
  justify-content: center;
}
nav a:first-child {
  margin-left: 1rem;
  justify-content: left;
  align-content: center;
  align-self: center;
}
nav a img {
  height: 1rem;
  width: 1rem;
}
.bem-vindo-box {
  margin: 3vw;
  display: flex;
  padding: 1rem;
  background-color: white;
  border-radius: 50px;
}
#foto-perfil {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
}
.bem-vindo-box div {
  display: flex;
  flex-direction: column;
}
.bem-vindo-box div span:first-child {
  margin: 0 0 0 1vh;
  font-size: 11pt;
}
.bem-vindo-box div span {
  margin: 2vh 0 0 1vh;
  font-weight: 600;
  font-size: 15pt;
}

.content-box {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  width: 100%;
  height: 100%;
  border-radius: 50px 50px 0 0;
}
.content-box h2 {
  margin: 1rem 1rem 0;
  padding: 1vh;
  font-size: 14pt;
}

.content-box article {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  font-size: 11pt;
  border-radius: 50px;
  text-align: justify;
}

.content-box article h3 {
  text-align: start;
  font-size: 13pt;
}

.content-buttons {
  display: flex;
  flex-direction: column;
}

.content-buttons button {
  border: 0;
  padding: 2vw;
  margin: 1rem;
  background: #ffb800;
  border-radius: 50px;
  color: white;
  font-size: large;
  font-weight: bold;
}

footer {
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: grey;
  text-align: center;
}

@media only screen and (min-width: 450px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .bem-vindo-box {
    align-self: center;
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  main {
    align-self: center;
  }

  .bem-vindo-box {
    width: 30rem;
  }
  .content-box div {
    width: 60%;
    align-self: center
  }
  .content-buttons {
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }
}
