@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    background-color: #EDEDED;
    font-family: "Open Sans", sans-serif;
}
header{
    background: #FFB800;
    padding: 0.5rem 0 10rem 0;
}
nav {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
}
nav a {
    margin-left: 1rem;
    align-self: center;
}
nav h1 {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    background-color: #EDEDED;
    border-radius: 50px;
    position: relative;
    top: -5rem;
    justify-content: center;
    align-items: center;
}
.bem-vindo-box {
    display: grid;
    grid-template-columns: 0fr 1fr;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 40px;
    position: relative;
    top: -3rem;
    box-sizing: border-box;
}
div {
    display: flex;
    flex-direction: column;
}
#foto-perfil {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    align-self:stretch;
}
main section div span:first-child {
    margin: 1.5vh 0 0 1vh;
    font-size: 11pt;
}
main section div span {
    margin: 2vh 0 0 1vh;
    font-weight: 600;
    font-size: 15pt;
}
