body {
  background-color: #ffb800;
  margin: 0;
  font-family: OpenSans;
  width: 100%;
}
main {
  width: 100%;
}
nav {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
nav a {
  display: flex;
  justify-content: center;
}
nav a:first-child {
  margin-left: 1rem;
  justify-content: left;
  align-content: center;
  align-self: center;
}
nav a img {
  height: 1rem;
  width: 1rem;
}
.saldo-box {
  margin: 3vw;
  padding: 1rem;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saldo-box span {
  font-weight: 600;
  font-size: 12pt;
}
.saldo-box div {
  display: flex;
  align-items: center;
}
.saldo-box div span {
  font-size: 15pt;
}
.saldo-box div a {
  margin: 1rem;
  opacity: 0.3;
}
.content-box {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  width: 100%;
  height: 100%;
  border-radius: 50px 50px 0 0;
}
.content-box div {
  display: flex;
  flex-direction: column;
}
.content-box article {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.content-box article img {
  margin: 1rem;
  border-radius: 20px;
}
.content-box article form {
  display: flex;
  flex-direction: column;
}
.content-box label {
  margin: 1rem 0 0 1rem;
  font-weight: 600;
  font-size: 11pt;
}
.content-box input {
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
}

#submit-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  padding: 1vh;
  background-color: #ffb800;
  color: white;
  font-size: 15pt;
  font-weight: 700;
  border-radius: 50px;
}
#submit-button img {
  margin: 0;
  height: 4vh;
  width: 4vh;
}

footer {
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: grey;
  text-align: center;
}

@media only screen and (min-width: 450px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .saldo-box {
    align-self: center;
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  main {
    align-self: center;
  }
  .saldo-box {
    width: 30rem;
  }
  .content-box article {
    width: 60%;
    align-self: center;
  }
  .content-box article div {
    display: flex;
    flex-direction: column;
    justify-content:center
  }
  #submit-button {
    align-self: flex-end;
    padding: 1rem 2rem 1rem 2rem;
  }
  #submit-button img {
    margin-left: 1rem;
  }
}
